<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Page title -->
    <title>Playlist</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="/css/theme-mariner.css">
    <link rel="alternate stylesheet" href="/css/theme-mariner.css" title="theme-mariner">

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header -->
    <% include ./common/header %>
    <!-- /Header -->

    <!-- Page Header -->
    <div class="inner-page-header">
        <div class="container">
            <div class="row">

                <!-- Page Title -->
                <div class="col-md-8">
                    <h1 class="title">Blog - Detail Post</h1>
                    <!-- <div class="subtitle">There are many variations of passages </div> -->
                </div>
                <!-- /Page Title -->

            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Main -->
    <main class="main-container" id="app">

        <div class="container">
            <div class="row">

                <!-- Blog Sidebar -->
                <div class="col-md-3">

                    <!-- Widget: Categories -->
                    <div class="widget">

                        <div class="title">Categories</div>
                        <ul class="sidebar-menu">
                            <li v-for="c in category"><a>{{c.categoryname}}</a></li>
                        </ul>

                    </div>
                    <!-- /Widget: Categories -->

                </div>
                <!-- /Blog Sidebar -->

                <!-- Blog Content -->
                <div class="col-md-9">

                    <!-- Posts List -->
                    <div class="posts-list">

                        <!-- Single Post With Image -->
                        <article class="blog-post">
                            <!-- Post Title -->
                            <h2 class="title">{{posts.title}}</h2>
                            <!-- /Post Title -->

                            <!-- Post Image -->
                            <div>
                                <!--class="image"-->
                                <div>
                                    <!--class="gallery-image"-->
                                    <img v-bind:src="'/' + posts.meetphoto" width="300px" height="300px">
                                </div>
                            </div>
                            <!-- /Post Image -->

                            <!-- Content -->
                            <div class="data">

                                <!-- Post Metadata -->
                                <ul class="list-inline meta">
                                    <li><i class="icon fa fa-calendar"></i> {{posts.createdAt}}</li>
                                    <li><i class="icon fa fa-user"></i> by <a v-bind:href="'/yourpage?user='+posts.user.id">{{posts.user.username}}</a></li>
                                </ul>
                                <!-- /Post Metadata -->


                                <!-- Post Content -->
                                <div class="content">
                                    <blockquote>
                                        <b>최대인원: </b>{{posts.headcount}} <br>
                                        <b>권장나이: </b>{{posts.age}}
                                    </blockquote>

                                    <blockquote>
                                        <b>이력</b><br>
                                        {{posts.record}}
                                    </blockquote>

                                    <p>
                                        {{posts.content}}
                                        <!-- <img src="posts.user.photofullroute" alt=""> -->
                                    </p>
                                </div>
                                <!-- /Post Content -->

                            </div>
                            <!-- /Content -->

                            <!-- Additional -->
                            <div class="row information">

                                <div class="form-group col-md-12">
                                    <ul class="list-inline social-inline">
                                        <button class="btn btn-red" v-on:click="favorite($event)"
                                            v-bind:value="posts.id">즐겨찾기</button>
                                        <button class="btn btn-orange" v-on:click="participate($event)"
                                            v-bind:value="posts.id">참여하기</button>
                                    </ul>
                                </div>
                            </div>
                            <!-- /Additional -->

                        </article>
                        <!-- /Single Post With Image -->

                        <!-- Comments -->
                        <div class="widget">

                            <h4 class="title">Recent Comments</h4>

                            <ul class="comments" v-for="comment in comments">
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="image">
                                                <img v-bind:src="'/' + comment.user.photofullroute">
                                            </div>
                                        </div>

                                        <div class="media-body">
                                            <h4 class="author">{{comment.user.username}}</h4>
                                            <span class="date">{{comment.createdAt}}</span>
                                            <p class="text">
                                                {{comment.comment}}
                                            </p>
                                            <div class="project">
                                                <div class="comments-bottom text-right">
                                                    <a href="/images/project-02.jpg" class="project-item image-popup"><i
                                                            class="icon fa fa-fw fa-search"></i>
                                                        SHOW AUTHOR INFORMATION</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                            <div class="send-comment mt">

                                <h3><i class="icon fa fa-fw fa-comment-o"></i> Send Your Comment</h3>

                                <input type="hidden" name="form" value="Contact">

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <textarea v-model="reply.comment" class="form-control"
                                            placeholder="Comment... "></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <button v-on:click="saveComment($event)" v-bind:value="posts.id"
                                            class="btn btn-theme">
                                            <i class="fa fa-plus"></i> Add Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Comments -->
                        <div class="col-md-12 text-right">
                            <ul class="list-inline social-inline">
                                <button class="btn btn-theme" v-on:click="gotolist">목록</button>
                                <button class="btn btn-theme" v-on:click="removePost($event)" v-bind:value="posts.id"
                                    v-if="userid == posts.user.id">삭제</button>
                                <a v-bind:href="'/meetpost/modify?postid='+posts.id"><button class="btn btn-theme"
                                        v-if="userid == posts.user.id">수정</button></a>
                            </ul>
                        </div>

                    </div>
                    <!-- /Posts List -->

                </div>
                <!-- /Blog Content -->
            </div>
        </div>

    </main>
    <!-- /Main -->

    <!-- Footer -->
    <% include ./common/footer %>
    <!-- /Footer -->

    <!-- Scroll To Top -->
    <div id="scroll-to-top" class="scroll-to-top">
        <i class="icon fa fa-angle-up"></i>
    </div>
    <!-- /Scroll To Top -->

    <!-- Modal: Sign In -->
    <% include ./common/sign_in %>
    <!-- Modal: /Sign In -->

    <!-- Modal: Sign Up -->
    <% include ./common/sign_up %>
    <!-- Modal: /Sign Up -->

    <!-- Modal: Result Message -->
    <% include ./common/result_message %>
    <!-- /Modal: Result Message -->

    <!-- SCRIPTS -->
    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/general.js"></script>
    <!-- /SCRIPTS -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            else {
                return results[1] || 0;
            }
        }
        var id = $.urlParam('id');

        var app = new Vue({
            el: '#app',
            data: {
                posts: {},
                category: [],
                reply: { comment: '' },
                comments: [],
            },
            created: function () {
                axios.get('/category')
                    .then(function (res) {
                        this.category = res.data;
                    }.bind(this))
                    .catch(function (err) {
                        console.log(err);
                    });

                axios.get('/meetpost/detail/' + id)
                    .then(function (res) {

                        this.posts = res.data;
                    }.bind(this))
                    .catch(function (err) {
                        console.log(err);
                    });

                axios.get('/meetpost/comments/' + id)
                    .then(function (res) {
                        this.comments = res.data;
                    }.bind(this))
                    .catch(function (err) {
                        console.log(err);
                    });

                axios.get('/user/checkLogin', { headers: { authorization: localStorage.getItem('token') } })
                    .then(function (res) {
                        this.userid = res.data.result;
                    }.bind(this))
                    .catch(function (err) {
                        console.log(err);
                    });
            },
            methods: {
                removePost: function (e) {
                    const buttonValue = e.target.value;
                    var del = confirm("삭제하시겠습니까?")
                    if (del) {
                        axios.delete('/meetpost/delete/' + buttonValue);
                        location.href = "/meetpost";
                    }
                },
                saveComment: function (e) {
                    const cbuttonValue = e.target.value;

                    axios.get('/user/checkLogin', { headers: { authorization: localStorage.getItem('token') } })
                        .then(function (res) {
                            if (res.data.code == 419) {
                                alert("로그인이 필요합니다");
                                location.href = "/";
                                return false;
                            }
                            if (res.data.code == 401) {
                                alert("로그인이 필요합니다");
                                location.href = "/";
                                return false;
                            }
                            if (res.data.code == 200) {
                                this.reply.userId = res.data.result.id;

                                axios.post('/meetpost/comment/' + cbuttonValue, this.reply)
                                    .then(function (res) {
                                        location.href = "/meetpost/detailpost?id=" + cbuttonValue;
                                    }.bind(this))
                                    .catch(function (err) {
                                        console.log(err)
                                    });

                            }
                        }.bind(this))
                        .catch(function (err) {
                            console.log(err);
                        });
                },
                gotolist: function () {
                    location.href = "/meetpost";
                },
                favorite: function (e) {
                    const fbuttonValue = e.target.value;
                    axios.get('/user/checkLogin', { headers: { authorization: localStorage.getItem('token') } })
                        .then(function (res) {
                            if (res.data.code == 419) {
                                alert("로그인이 필요합니다");
                                location.href = "/";
                                return false;
                            }
                            if (res.data.code == 401) {
                                alert("로그인이 필요합니다");
                                location.href = "/";
                                return false;
                            }
                            if (res.data.code == 200) {
                                var fav = confirm('즐겨찾기 추가하시겠습니까?');
                                if (fav) {
                                    axios.post('/meetpost/favorite/' + fbuttonValue, {userId : res.data.result.id})
                                    location.href = "/meetpost/detailpost?id=" + fbuttonValue;
                                }


                            }
                        }.bind(this))
                        .catch(function (err) {
                            console.log(err);
                        });
                },
                participate: function (e) {
                    const pbuttonValue = e.target.value;

                    axios.get('/user/checkLogin', { headers: { authorization: localStorage.getItem('token') } })
                        .then(function (res) {
                            if (res.data.code == 419) {
                                alert("로그인이 필요합니다");
                                location.href = "/";
                                return false;
                            }
                            if (res.data.code == 401) {
                                alert("로그인이 필요합니다");
                                location.href = "/";
                                return false;
                            }
                            if (res.data.code == 200) {
                                var fav = confirm('참여하시겠습니까?')
                                if (fav) {
                                    axios.post('/meetpost/participate/' + pbuttonValue, {userId : res.data.result.id})
                                    location.href = "/meetpost/detailpost?id=" + pbuttonValue;
                                }
                            }
                        }.bind(this))
                        .catch(function (err) {
                            console.log(err);
                        });
                }
            }
        });
    </script>
</body>

</html>