<!DOCTYPE html>
<html>

<head>
    <title>이메일 찾기</title>
</head>

<body>

    <form action="/emailsearch" method="post">
        
        <h1>이메일 찾기</h1>

        <h5>전화번호</h5>
        <input name="phone" type="text">

        <button>찾기</button>

    </form>
   
    
</body>

</html>