<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Page title -->
    <title>Email Search</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="css/theme-mariner.css">
    <link rel="alternate stylesheet" href="css/theme-mariner.css" title="theme-mariner">


</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header -->
    <% include ./common/header %>
    <!-- /Header -->

    <!-- Page Header -->
    <div class="inner-page-header">
        <div class="container">
            <div class="row">

                <!-- Page Title -->
                <div class="col-md-8">
                    <h1 class="title">Email Search</h1>
                    <div class="subtitle">사용자 이메일 찾기</div>
                </div>
                <!-- /Page Title -->

            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Main -->
    <main class="main-container" id="app">

        <div class="container">
            <div class="row">

               
                <div class="row">

                    
                    <div class="col-sm-11">

                        <div class="row">
                            <div class="col-sm-12">
                               
                                　　<i class="icon fa fa-fw fa-phone"></i><span><b>　사용자 전화번호</b></span><br><br>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" v-model="yourphone" placeholder="ex.01012345678">
                                    </div>
                                    <button class="btn btn-green" v-on:click="emailsearch">이메일 찾기</button>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br>
    </main>
    <!-- /Main -->

    <!-- Footer -->
    <% include ./common/footer %>
    <!-- /Footer -->

    <!-- Scroll To Top -->
    <div id="scroll-to-top" class="scroll-to-top">
        <i class="icon fa fa-angle-up"></i>
    </div>
    <!-- /Scroll To Top -->

    <!-- Modal: Sign In -->
    <% include ./common/sign_in %>
    <!-- Modal: /Sign In -->

    <!-- Modal: Sign Up -->
    <% include ./common/sign_up %>
    <!-- Modal: /Sign Up -->

    <!-- Modal: Result Message -->
    <% include ./common/result_message %>
    <!-- /Modal: Result Message -->

    <!-- SCRIPTS -->
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/general.js"></script>
    <!-- /SCRIPTS -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                yourphone: '',
            },
            methods: {
                emailsearch: function() {

                    axios.post('/emailsearch').then(function (res) {

                        //location.href = "/emailsearch-result";
                    
                    }.bind(this))
                    .catch(function (err) {
                    console.log(err);
                    });                    
                }
            }
        });
    </script>

</body>

</html>