<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>PLAYLIST</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="css/theme-mariner.css" title="theme-default">
    <link rel="alternate stylesheet" href="css/theme-mariner.css" title="theme-mariner">
    <link rel="stylesheet" href="/css/web-font.css">


</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header -->
<% include ./common/header %>
<!-- /Header -->

<!-- Image Carousel -->
<div class="slider">

    <div id="slider" class="owl-carousel owl-theme">

        <div class="item slide parallax mask mask-black" style="background-image: url(images/home-02.jpg)">

            <div class="container height-100p">
                <div class="row height-100p">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 height-100p">
                        <div class="vertical-middle">
                            <h1 class="text-white animated wow fadeInDown">SmartEXT. - HTML Site Template</h1>
                            <div class="text-white h4 animated wow fadeIn">
                                It is a long established fact that a reader will be distracted by the readable content of a
                                page when looking at its layout.
                            </div>
                            <a href="#about" class="smooth-scroll btn btn-rounded btn-white btn-o-dark-bg animated wow fadeInUp"><i class="fa fa-fw fa-angle-down"></i> Start Watching <i class="fa fa-fw fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="item slide parallax mask mask-black" style="background-image: url(images/home.jpg)">

            <div class="container height-100p">
                <div class="row height-100p">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 height-100p">
                        <div class="vertical-middle">
                            <h1 class="text-white">SmartEXT. - HTML Site Template</h1>
                            <div class="text-white h4">
                                It is a long established fact that a reader will be distracted by the readable content of a
                                page when looking at its layout.
                            </div>
                            <a href="#about" class="smooth-scroll btn btn-rounded btn-white btn-o-dark-bg"><i class="fa fa-fw fa-angle-down"></i> Start Watching <i class="fa fa-fw fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    

</div>
<!-- /Image Carousel -->

<br>

<div class="container">
        <article class="blog-post">

        <!-- Section Header -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <header class="section-header">
                    <!-- <h2 class="section-title">Review <span class="text-theme">Hobby</span></h2> -->
                    <p class="section-subtitle">
                        <!-- It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. -->
                        <h2 class="section-title">Best <span class="text-theme">Meeting</span></h2>
                    </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->

        <!-- Section Content -->
        <div class="row section-content animated wow fadeIn" data-wow-duration="1.3s">

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-01.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-01.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-02.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-02.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-03.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-03.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

           
          

        </div>
        <!-- /Section Content -->

    </article>

 </div>


<div class="container">

    <article class="blog-post">
        <!-- Section Header -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <header class="section-header">
                    <!-- <h2 class="section-title">Review <span class="text-theme">Hobby</span></h2> -->
                    <p class="section-subtitle">
                        <!-- It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. -->
                        <h2 class="section-title">Review <span class="text-theme">Hobby</span></h2>
                    </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->

        <!-- Section Content -->
        <div class="row section-content animated wow fadeIn" data-wow-duration="1.3s">

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-01.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-01.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-02.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-02.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-03.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-03.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

           
          

        </div>
        <!-- /Section Content -->

    </article>

</div>

<!-- Footer -->
<% include ./common/footer %>
<!-- /Footer -->

<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->

<!-- Modal: Sign In -->
<% include ./common/sign_in %>
<!-- Modal: /Sign In -->

<!-- Modal: Sign Up -->
<% include ./common/sign_up %>
<!-- Modal: /Sign Up -->

<!-- Modal: Result Message -->
<% include ./common/result_message %>
<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/general.js"></script>
<!-- /SCRIPTS -->

</body>
</html>