<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>PLAYLIST</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="css/theme.css" title="theme-default">

    <!-- TODO: Predefined Schemes (select one of the presented) -->
    <link rel="alternate stylesheet" href="css/theme-red.css" title="theme-red">
    <link rel="alternate stylesheet" href="css/theme-blue.css" title="theme-blue">
    <link rel="alternate stylesheet" href="css/theme-orange.css" title="theme-orange">
    <link rel="alternate stylesheet" href="css/theme-purple.css" title="theme-purple">
    <link rel="alternate stylesheet" href="css/theme-mariner.css" title="theme-mariner">
    <link rel="alternate stylesheet" href="css/theme-medium-purple.css" title="theme-medium-purple">
    <link rel="alternate stylesheet" href="css/theme-light.css" title="theme-light">

</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header -->
<header id="home" class="header">
    <nav id="navigation" class="navbar affix">

        <!-- Top Line -->
        <div class="top-line">
            <div class="container">
                <div class="row">

                    <!-- Company Information -->
                    <div class="col-md-7 contact-information">
                        <ul class="list-inline">
                            <li><i class="icon fa fa-fw fa-phone"></i> +1 (201) 987-1185</li>
                            <li><i class="icon fa fa-fw fa-envelope-o"></i> clients@example.com</li>
                        </ul>
                    </div>
                    <!-- /Company Information -->

                    <!-- Search Form -->
                    <div class="col-md-3">
                        <div class="search-form">
                            <input type="email" class="form-control" placeholder="Search..." required>
                            <button class="btn btn-search"><i class="fa fa-fw fa-search"></i></button>
                        </div>
                    </div>
                    <!-- /Search Form -->

                    <!-- User Cabinet Links -->
                    <div class="col-md-2 user-cabinet-links">
                        <ul class="list-inline">
                            <li><a href="#" data-toggle="modal" data-target="#sign-in"><i class="icon fa fa-fw fa-sign-in"></i> Sign in</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#sign-up"><i class="icon fa fa-fw fa-edit"></i> Sign up</a></li>
                        </ul>
                    </div>
                    <!-- /User Cabinet Links -->

                </div>
            </div>
        </div>
        <!-- /Top Line -->

        <!-- Toggle Button -->
        <div class="top-line-slide">
            <div class="top-line-toggle in">
                <i class="icon fa fa-fw fa-angle-down"></i>
            </div>
        </div>
        <!-- /Toggle Button -->

        <!-- Top Menu -->
        <div class="top-menu">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">

                        <!-- Navigation Header -->
                        <div class="navbar-header">

                            <!-- Toggle Button -->
                            <button type="button"
                                    class="navbar-toggle collapsed"
                                    data-toggle="collapse"
                                    data-target="#main-menu"
                                    aria-expanded="false"
                                    aria-controls="main-menu">

                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>

                            </button>
                            <!-- /Toggle Button -->

                            <!-- Brand -->
                            <a href="#" class="brand">
                                <div class="logo-big">
                                    <img src="images/logo.png" alt="">
                                </div>
                                <div class="logo-small">
                                    <img src="images/logo-small.png" alt="">
                                </div>
                            </a>
                            <!-- /Brand -->

                        </div>
                        <!-- /Navigation Header -->

                        <!-- Navigation -->
                        <div id="main-menu" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="index">Home</a>
                                </li>
                                <li>
                                    <a href="review">Review</a>
                                </li>
                                <li>
                                    <a href="/meetpost">Category</a>
                                </li>
                                <li>
                                    <a href="mypage">MyPage</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Navigation -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Top Menu -->

    </nav>
</header>
<!-- /Header -->

<!-- Image Carousel -->
<div class="slider">

    <div id="slider" class="owl-carousel owl-theme">

        <div class="item slide parallax mask mask-black" style="background-image: url(images/home-02.jpg)">

            <div class="container height-100p">
                <div class="row height-100p">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 height-100p">
                        <div class="vertical-middle">
                            <h1 class="text-white animated wow fadeInDown">SmartEXT. - HTML Site Template</h1>
                            <div class="text-white h4 animated wow fadeIn">
                                It is a long established fact that a reader will be distracted by the readable content of a
                                page when looking at its layout.
                            </div>
                            <a href="#about" class="smooth-scroll btn btn-rounded btn-white btn-o-dark-bg animated wow fadeInUp"><i class="fa fa-fw fa-angle-down"></i> Start Watching <i class="fa fa-fw fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="item slide parallax mask mask-black" style="background-image: url(images/home.jpg)">

            <div class="container height-100p">
                <div class="row height-100p">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 height-100p">
                        <div class="vertical-middle">
                            <h1 class="text-white">SmartEXT. - HTML Site Template</h1>
                            <div class="text-white h4">
                                It is a long established fact that a reader will be distracted by the readable content of a
                                page when looking at its layout.
                            </div>
                            <a href="#about" class="smooth-scroll btn btn-rounded btn-white btn-o-dark-bg"><i class="fa fa-fw fa-angle-down"></i> Start Watching <i class="fa fa-fw fa-angle-down"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /Image Carousel -->

<div class="container">

        <!-- Section Header -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <header class="section-header">
                    <h2 class="section-title">Latest <span class="text-theme">Projects</span></h2>
                    <p class="section-subtitle">
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout.
                    </p>
                </header>
            </div>
        </div>
        <!-- /Section Header -->

        <!-- Section Content -->
        <div class="row section-content animated wow fadeIn" data-wow-duration="1.3s">

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-01.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-01.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-02.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-02.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

            <!-- Project -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="project">
                    <a href="images/project-03.jpg" class="project-item image-popup">
                        <div class="gallery-image">
                            <img src="images/project-03.jpg" alt="">
                        </div>
                        <div class="overlay">
                            <p class="description">
                                It is a long established fact that a reader will be distracted by the readable
                                content
                            </p>
                            <div class="information">
                                <h3 class="title">Buildings</h3>
                                <span class="icon icon_link_alt"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /Project -->

           
          

        </div>
        <!-- /Section Content -->

    </div>

<!-- Footer -->
<footer class="footer section section-small no-pb bg-dark">
    <div class="container">
        <div class="row">

            <!-- Footer Column -->
            <div class="col-sm-3">
                <div class="brand">
                    Smart<span class="text-theme">Ext</span>
                </div>
                <p>
                    There are many variations of passages of Lorem Ipsum available.
                </p>
                <div class="title">Our Address:</div>
                <p>
                    988782, Our Street, L.A.
                </p>
                <ul class="list">
                    <li><span>Phone:</span> +1 (201) 987-1185</li>
                    <li><span>E-mail:</span> clients@example.com</li>
                </ul>
            </div>
            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-sm-2">
                <div class="h4 title">Navigation:</div>
                <ul class="list menu">
                    <li><a href="index">Home</a></li>
                    <li><a href="review">Review</a></li>
                    <li><a href="post-list">Category</a></li>
                    <li><a href="mypage">MyPage</a></li>
                </ul>
            </div>
            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-sm-3">
                <div class="h4 title">From Blog</div>
                <div class="media post">
                    <div class="media-left">
                        <div class="image">
                            <img src="images/last-post-01.jpg" alt="">
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text">
                            It is a long established fact that a reader will be distracted.
                        </p>
                        <a href="#">Read more <i class="fa fa-angle-double-right"></i> </a>
                    </div>
                </div>
                <div class="media post">
                    <div class="media-left">
                        <div class="image">
                            <img src="images/last-post-02.jpg" alt="">
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="text">
                            It is a long established fact that a reader will be distracted.
                        </p>
                        <a href="#">Read more <i class="fa fa-angle-double-right"></i> </a>
                    </div>
                </div>
            </div>
            <!-- /Footer Column -->

            <!-- Footer Column -->
            <div class="col-sm-4">

                <div class="h4 title">Subscribe to our Newsletter</div>
                <p>There are many variations of passages of Lorem Ipsum available</p>

                <div class="subscribe-form">
                    <form method="post" class="form-inline form-ajax">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Your E-mail...*" required>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-theme"><i class="fa fa-fw fa-envelope"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <ul class="social-big">
                    <li>
                        <a href="#">
                            <i class="icon icon-facebook fa fa-fw fa-facebook"></i>
                            <div class="text">
                                Like us
                                <span>on Facebook</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon icon-rss fa fa-fw fa-rss"></i>
                            <div class="text">
                                Subscribe
                                <span>to RSS Feeds</span>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- /Footer Column -->

        </div>
    </div>

    <div class="bottom-line">
        <div class="container">
            <div class="row">

                <!-- Copyright -->
                <div class="col-md-7 col-sm-12">
                    <p class="copyright">
                        Copyright &copy; 2015-2016 <strong>Valery Timofeev</strong>
                    </p>
                    <div class="links">
                        <a  href="#">Information</a>
                        <a  href="#">Terms of service</a>
                        <a  href="#">Private police</a>
                    </div>
                </div>
                <!-- /Copyright -->

                <!-- Footer Social -->
                <div class="col-md-5 col-sm-12">

                    <ul class="list-inline">
                        <li><a href="#" class="icon fa fa-fw fa-facebook"></a></li>
                        <li><a href="#" class="icon fa fa-fw fa-twitter"></a></li>
                        <li><a href="#" class="icon fa fa-fw fa-google-plus"></a></li>
                        <li><a href="#" class="icon fa fa-fw fa-dribbble"></a></li>
                        <li><a href="#" class="icon fa fa-fw fa-pinterest"></a></li>
                    </ul>

                    <ul class="list-inline">
                        <li><a href="#" class="icon fa fa-fw fa-phone"></a>  +1 (201) 987-1185</li>
                        <li><a href="#" class="icon fa fa-fw fa-envelope"></a> clients@example.com</li>
                        <li><a href="#" class="icon fa fa-fw fa-skype"></a> YourCompany</li>
                    </ul>

                </div>
                <!-- /Footer Social -->

            </div>
        </div>
    </div>

</footer>
<!-- /Footer -->

<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->

<!-- Modal: Sign In -->
<div class="modal fade" id="sign-in" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h5 class="modal-title"><i class="fa fa-fw fa-sign-in"></i> Sign in Form</h5>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Contact Form -->
                    <div class="col-md-12">
                        <form class="form-ajax" method="post">

                            <input type="hidden" name="form" value="Sign In">

                            <div class="row form-row">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sign-in-user"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sign-in-password"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-row text-center">
                                <div class="col-xs-12">
                                    <button class="btn btn-theme">Sign in</button>
                                </div>
                            </div>

                            <div class="row form-row text-center">
                                <div class="col-xs-6">
                                    <div class="checkbox-custom checkbox-theme">
                                        <input type="checkbox" id="sign-in-remember">
                                        <label for="sign-in-remember">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#">Forgot password?</a>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /Contact Form -->


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal: /Sign In -->

<!-- Modal: Sign Up -->
<div class="modal fade" id="sign-up" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h5 class="modal-title"><i class="fa fa-fw fa-sign-in"></i> Sign up Form</h5>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Contact Form -->
                    <div class="col-md-12">
                        <form class="form-ajax" method="post">

                            <input type="hidden" name="form" value="Sign In">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password confirm">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Lastname">
                                    </div>
                                </div>
                            </div>

                            <div class="row text-left">
                                <div class="col-xs-12">
                                    <div class="form-group">

                                        <div class="checkbox-slide checkbox-theme">
                                            <input type="checkbox" id="sign-up-remember">
                                            <label for="sign-up-remember">I agree license agreement</label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row text-right">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <button class="btn btn-theme">Sign up</button>
                                        <button data-dismiss="modal" aria-hidden="true" class="btn btn-light">Cancel</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /Contact Form -->


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal: /Sign Up -->

<!-- Modal: Result Message -->
<div class="modal fade" id="result" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Sending message</h4>
            </div>

            <div class="modal-body">

                <div class="result-icon">
                    <div class="icon-border">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" preserveaspectratio="none">
                            <circle cx="8" cy="8" r="6.215" transform="rotate(90 8 8)"></circle>
                        </svg>
                        <i class="icon fa fa-check"></i>
                    </div>
                </div>

                <p class="modal-result h4 text-center"></p>
            </div>

        </div>
    </div>
</div>
<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/general.js"></script>
<!-- /SCRIPTS -->

<!-- TODO: Remove this block, Demo-version only -->
<!-- Styleswitcher -->
<div id="styleswitcher" class="styleswitcher">
    <div class="styleswitcher-content">

        <h4 class="styleswitcher-title">Color Presets</h4>
        <div class="styleswitcher-block">
            <ul class="styleswitcher-list-colors">
                <li><a href="javascript: switchStyle('theme-default')" style="background: #37b897;" title="Default"></a></li>
                <li><a href="javascript: switchStyle('theme-red')" style="background: #e8697a;" title="Red"></a></li>
                <li><a href="javascript: switchStyle('theme-blue')" style="background: #38acff;" title="Blue"></a></li>
                <li><a href="javascript: switchStyle('theme-orange')" style="background: #fba464;" title="Orange"></a></li>
                <li><a href="javascript: switchStyle('theme-purple')" style="background: #ca4ab7;" title="Purple"></a></li>
                <li><a href="javascript: switchStyle('theme-mariner')" style="background: #3274cd;" title="Mariner"></a></li>
                <li><a href="javascript: switchStyle('theme-medium-purple')" style="background: #996de9;" title="Medium Purple"></a></li>
                <li><a href="javascript: switchStyle('theme-light')" style="background: #8b95b0;" title="Light"></a></li>
            </ul>
        </div>

        <h4 class="styleswitcher-title">Alternative</h4>
        <div class="styleswitcher-block">
            <div class="checkbox-slide checkbox-theme">
                <input type="checkbox" id="styleswitcher-dark-modals">
                <label for="styleswitcher-dark-modals" class="text-white">Dark Modals</label>
            </div>
        </div>

    </div>

    <div class="styleswitcher-button vertical-middle"><i class="fa fa-gear"></i></div>
</div>

<link rel="stylesheet" type="text/css" href="demo/styleswitcher.css" property="">
<script src="demo/styleswitcher.js"></script>
<!-- /Styleswitcher -->

</body>
</html>