<footer class="footer section section-small no-pb">


    <div class="bottom-line">
        <div class="container">
            <div class="row">

                <!-- Copyright -->
                <div class="col-md-7 col-sm-12">
                    <p class="copyright">
                        Copyright &copy; 2019.11-12 <strong>Playlist</strong>
                    </p>
                    <div class="links">
                        <a href="#">Information</a>
                        <a href="#">Terms of service</a>
                        <a href="#">Private police</a>
                    </div>
                </div>
                <!-- /Copyright -->

                <!-- Footer Social -->
                <div class="col-md-5 col-sm-12">

                    <ul class="list-inline">
                        <li><a href="#" class="icon fa fa-fw fa-facebook"></a></li>
                        <li><a href="#" class="icon fa fa-fw fa-twitter"></a></li>
                        <li><a href="#" class="icon fa fa-fw fa-google-plus"></a></li>
                        <li><a href="#" class="icon fa fa-fw fa-dribbble"></a></li>
                        <li><a href="#" class="icon fa fa-fw fa-pinterest"></a></li>
                    </ul>

                    <ul class="list-inline">
                        <!-- <li><a href="#" class="icon fa fa-fw fa-phone"></a> +1 (201) 987-1185</li> -->
                        <li><a href="/" class="icon fa fa-fw fa-envelope"></a> playlist1217@gmail.com</li>
                        <li><a href="/" class="icon fa fa-fw fa-skype"></a> OurCompany</li>
                    </ul>

                </div>
                <!-- /Footer Social -->

            </div>
        </div>
    </div>

</footer>