<!-- Header -->
<header id="home" class="header">
    <nav id="navigation" class="navbar affix">

        <!-- Top Line -->
        <div class="top-line">
            <div class="container">
                <div class="row">

                    <!-- Company Information -->
                    <div class="col-md-7 contact-information">
                        <ul class="list-inline">
                            <li><i class="icon fa fa-fw fa-phone"></i> +1 (201) 987-1185</li>
                            <li><i class="icon fa fa-fw fa-envelope-o"></i> clients@example.com</li>
                        </ul>
                    </div>
                    <!-- /Company Information -->

                    <!-- Search Form -->
                    <div class="col-md-3">
                        <div class="search-form">
                            <input type="email" class="form-control" placeholder="Search..." required>
                            <button class="btn btn-search"><i class="fa fa-fw fa-search"></i></button>
                        </div>
                    </div>
                    <!-- /Search Form -->

                    <!-- User Cabinet Links -->
                    <div class="col-md-2 user-cabinet-links">
                        <ul class="list-inline">
                            <li><a href="#" data-toggle="modal" data-target="#sign-in"><i class="icon fa fa-fw fa-sign-in"></i> Sign in</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#sign-up"><i class="icon fa fa-fw fa-edit"></i> Sign up</a></li>
                        </ul>
                    </div>
                    <!-- /User Cabinet Links -->

                </div>
            </div>
        </div>
        <!-- /Top Line -->

        <!-- Toggle Button -->
        <div class="top-line-slide">
            <div class="top-line-toggle in">
                <i class="icon fa fa-fw fa-angle-down"></i>
            </div>
        </div>
        <!-- /Toggle Button -->

        <!-- Top Menu -->
        <div class="top-menu">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">

                        <!-- Navigation Header -->
                        <div class="navbar-header">

                            <!-- Toggle Button -->
                            <button type="button"
                                    class="navbar-toggle collapsed"
                                    data-toggle="collapse"
                                    data-target="#main-menu"
                                    aria-expanded="false"
                                    aria-controls="main-menu">

                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>

                            </button>
                            <!-- /Toggle Button -->

                            <!-- Brand -->
                            <a href="#" class="brand">
                                <div class="logo-big">
                                    <img src="images/logo.png" alt="">
                                </div>
                                <div class="logo-small">
                                    <img src="images/logo-small.png" alt="">
                                </div>
                            </a>
                            <!-- /Brand -->

                        </div>
                        <!-- /Navigation Header -->

                        <!-- Navigation -->
                        <div id="main-menu" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="review">Review</a>
                                </li>
                                <li>
                                    <a href="/meetpost">Category</a>
                                </li>
                                <li>
                                    <a href="mypage">MyPage</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Navigation -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Top Menu -->

    </nav>
</header>
<!-- /Header -->