<div class="modal fade" id="sign-in" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h5 class="modal-title"><i class="fa fa-fw fa-sign-in"></i> Sign in Form</h5>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- Contact Form -->
                    <div class="col-md-12">
                        <form class="form-ajax" method="post">

                            <input type="hidden" name="form" value="Sign In">

                            <div class="row form-row">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sign-in-user"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Username" aria-describedby="sign-in-user">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-row">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sign-in-password"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password" aria-describedby="sign-in-password">
                                    </div>
                                </div>
                            </div>

                            <div class="row form-row text-center">
                                <div class="col-xs-12">
                                    <button class="btn btn-theme">Sign in</button>
                                </div>
                            </div>

                            <div class="row form-row text-center">
                                <div class="col-xs-6">
                                    <div class="checkbox-custom checkbox-theme">
                                        <input type="checkbox" id="sign-in-remember">
                                        <label for="sign-in-remember">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#">Forgot password?</a>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /Contact Form -->


                </div>
            </div>

        </div>
    </div>
</div>